/*Positionnement du background, la forme de la borne*/
body {
  background-image: url('img/borne.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.screen {
  background-color: lightcoral;
  margin: 0 auto;
  margin-top: 19%;
  height: 100px;
  width: 459px;
}

/*Positionnement terminé*/
